<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="IE.walkmate.AM3Dementia"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="false"
        android:name="androidx.multidex.MultiDexApplication"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_icon_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_image1"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity android:name="IE.walkmate.AM3Dementia.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.Launch_Activity"
            android:parentActivityName=".activities.MainActivity">
           <meta-data
                android:name="android.support.PARENT_ACTIVITY"
               android:value=".activities.MainActivity"/>
        </activity>


        <activity
            android:name="IE.walkmate.AM3Dementia.activities.Condition_Activity"
            android:theme="@style/AppTheme.Dialog"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.DashboardActivity" />
        </activity>


        <activity
            android:name="IE.walkmate.AM3Dementia.activities.MissionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.RecordAudioActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.DementiaCentreActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>

        <activity
            android:name=".activities.MainMoodActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>

        <activity android:name=".activities.NormalSmiley"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.DashboardActivity" />
        </activity>

        <activity android:name=".activities.DisappointedSmiley" />
        <activity android:name=".activities.SuperHappySmiley" />
        <activity android:name=".activities.SadSmiley" />
        <activity android:name=".activitiesrest.MoodHistory" />
        <activity android:name=".activitiesrest.PieChartActivity" />

        <activity
            android:name=".activities.Exercise_cat"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity> 

<!--
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                />
        </activity> -->

        <activity
            android:name="IE.walkmate.AM3Dementia.activities.UpdateTaskActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.DisplayTaskActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.DisplayTaskActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.DataActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.DisplayTaskActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.DashboardActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.RegisterActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.LoginActivity" />
        </activity>
        
<!-- vdo Updates-->

        <activity android:name="IE.walkmate.AM3Dementia.activities.Exercise_Tutorial"
            android:parentActivityName=".activities.Exercise_cat"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!-- for new java pilates-->
        <activity android:name="IE.walkmate.AM3Dementia.activities.Exe_Tut_Pilates"
            android:parentActivityName=".activities.Exercise_cat"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- for new java tai-->
        <activity android:name="IE.walkmate.AM3Dementia.activities.Exe_Tut_Tai"
            android:parentActivityName=".activities.Exercise_cat"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- for new java chair-->
        <activity android:name="IE.walkmate.AM3Dementia.activities.Exe_Tut_Chair"
            android:parentActivityName=".activities.Exercise_cat"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="IE.walkmate.AM3Dementia.activities.CategoryActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.ForgotPasswordActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.LoginActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.ResetPasswordActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.ForgotPasswordActivity" />
        </activity>
        <activity
            android:name="IE.walkmate.AM3Dementia.activities.AddTaskActivity"
            android:parentActivityName="IE.walkmate.AM3Dementia.activities.CategoryActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="IE.walkmate.AM3Dementia.activities.CategoryActivity" />
        </activity>


        <receiver android:name="IE.walkmate.AM3Dementia.AlarmService.AlarmReceiver" />
        <receiver android:name="IE.walkmate.AM3Dementia.AlarmService.SetAlarmSnoozeReceiver" />
        <receiver android:name="IE.walkmate.AM3Dementia.AlarmService.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="IE.walkmate.AM3Dementia.AlarmService.AlarmService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />




    </application>

</manifest>
